@{
    IEnumerable<dynamic> fields = Model.Fields;
}
<div data-ng-controller="quickFilterController" id="quickFilter" class="quick-filter-content well clearfix"
    style="border: 1px solid #DDD;">
    <div class="row-fluid">
        @foreach (var field in fields) {
            var filter = field.Filter;
            <div class="span4">
                <form data-type="@filter.Type" class="quick-filter-form clearfix" style="margin:0">
                    <span class="quick-filter-label">@filter.Name.Text</span>
                    @Display(field)
                </form>
            </div>
        }
        <div class="span4 ">
            <div class="clearfix">
                <span class="quick-filter-label">@T("版本")</span>
                @Display(Model.VersionButton)
            </div>
        </div>
    </div>
</div>
<script>
    function quickFilterController($scope) {
        $scope.applyFilter = function () {
            $scope.contentList.setParam({
                postData: {
                    ViewId: $scope.currentViewId,
                    Filters: getFilters()
                }
            });
            $scope.contentList.reload();
        };

        $scope.clearFilter = function () {
            $scope.contentList.setParam({
                postData: {
                    ViewId: $scope.currentViewId,
                    Filters: []
                }
            });
            $scope.contentList.reload();
        };

        function getFilters() {
            var forms = $('#quickFilter').find('form');
            var filters = [];
            $.each(forms, function () {
                if ($(this).attr("id") != 'versionForm') {
                    var form = $(this);
                    filters.push({
                        Type: form.data('type'),
                        Category: '@Model.PartName' + 'ContentFields',
                        FormData: form.serializeArray()
                    });
                }
            });
            return filters;
        }
    }
</script>
