@model Coevery.Entities.ViewModels.EditTypeViewModel
<div id="page-actions">
    <button type="button" class="btn btn-small" data-ng-click="exit()">Back</button>
    <button type="button" class="btn btn-small btn-primary" data-ng-click="save()">Save</button>
    <button class="btn btn-small btn-primary" data-ng-click="saveAndBack()">Save & Back</button>
</div>

<header id="main-header" class="page-header" style="background-image: none; margin-bottom: 0; padding-top: 47px;">
    <h1 style="background-image: none;">Entity Detail <span>show entity detail information</span></h1>
</header>

<script type="text/javascript">
    $(function () {
        $('.toolbar-Container').affix({ offset: { top: 71 } });
    });
</script>

<section id="main-content">
    <div class="row-fluid">
        <div class="span12">
            <div class="form-horizontal no-border">
                @using (Html.BeginFormAntiForgeryPost(Html.ViewContext.HttpContext.Request.Url.PathAndQuery, FormMethod.Post,
                                                              new { id = "myForm" })) {
                    @Html.ValidationSummary()
                    <section class="control-group">
                        <label class="control-label" for="inputName">Name</label>
                        <div class="controls">
                            <span class="control-label">@T(Model.Name)</span>
                        </div>
                        <meta itemprop="Id" content="@Model.Name" />
                        @Html.HiddenFor(m => m.Name)
                    </section>
                    <section class="control-group">
                        <label class="control-label" for="DisplayName">Display Name</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.DisplayName, new { @class = "span12" })
                        </div>
                        <meta itemprop="DisplayName" content="@Model.DisplayName" />
                    </section>
                    <section class="control-group">
                        <label class="control-label">Setting</label>
                        <div class="controls">
                            @{Html.RenderTemplates(Model.Templates); }
                        </div>
                    </section>
                }
            </div>
        </div>
    </div>
</section>
