@{
    bool isMultiple = Model.IsMultiple;
    var guid = Guid.NewGuid().ToString();
    string type = Model.Filter.Type;
}
@Html.Hidden("Operator", "MatchesAny")

@if (!isMultiple) {
    <select id="@guid" name="Value" class="hide" data-style="btn-small" 
            data-ng-model="@type.Replace(".", string.Empty)" data-ng-change="applyFilter()">
        <option value="">&nbsp;</option>
    </select>
}
else {
    <select data-ng-model="@type.Replace(".", string.Empty)" data-ng-change="applyFilter()" 
            id="@guid" name="Value" class="hide" data-live-search="true" data-style="btn-small" multiple>
    </select>
}
<script>
    $(function() {
        var element = $('#@guid');
        element.selectpicker();
        var url = 'api/Projections/Reference/@Model.PartName?fieldName=@Model.FieldName';
        $.get(url).then(function (response) {
            $.each(response, function () {
                element.append('<option value="' + this.Id + '">' + this.DisplayText + '</option>');
            });
            element.selectpicker('refresh');
        });
    });
</script>