@{
    bool isMultiple = Model.IsMultiple;
    var guid = Guid.NewGuid().ToString();
    string type = Model.Filter.Type;
}
@if (!isMultiple) {
    @Html.Hidden("Operator", "MatchesAny")
    <select id="@guid" name="Value" class="hide" data-style="btn-small" 
        data-ng-model="@type.Replace(".", string.Empty)" data-ng-change="applyFilter()">
        <option value="">&nbsp;</option>
        @foreach (var item in Model.ListItems) {
            <option value="@item.Value">@item.Text</option>
        }
    </select>

    <script>
        $(function() {
            $('#@guid').selectpicker();
        });
    </script>
}
else {
    @Html.Hidden("Operator", "MatchesAny")
    <select data-ng-model="@type.Replace(".", string.Empty)" data-ng-change="applyFilter()"
         id="@guid" name="Value" class="hide" data-live-search="true" data-style="btn-small" multiple>
        @foreach (var item in Model.ListItems) {
            <option value="@item.Value">@item.Text</option>
        }
    </select>

    <script>
        $(function() {
            $('#@guid').selectpicker();
        });
    </script>
}