@using System.ComponentModel
@model Coevery.Metadata.ViewModels.ProjectionEditViewModel

@{
    Script.Require("MetadataContext");
    Script.Require("UserViewDetailController");
    Style.Require("jQueryUI_Orchard");
}
@Display.FootScripts()
@Display.StylesheetLinks()

<header id="main-header" class="page-header" style="background-image: none;margin-bottom: 0;">
    <h1 style="background-image: none;">View Detail <span>show view detail information</span></h1>
</header>
@{
    var sortedBy = new BindingList<SelectListItem>();
    sortedBy.Add(new SelectListItem { Selected = true, Text = "Name" });
    sortedBy.Add(new SelectListItem { Selected = false, Text = "Age" });

    var sortMode = new BindingList<SelectListItem>();
    sortMode.Add(new SelectListItem { Selected = true, Text = "Desc" });
    sortMode.Add(new SelectListItem { Selected = false, Text = "Asc" });
}

<section ng-controller="UserViewDetailCtrl">
    <div class="form-actions" style="margin-top: -10px; padding-top: 10px; padding-left: 40px; padding-bottom: 10px; height: 30px; border-bottom: 1px solid #e5e5e5">
    <button type="button" class="btn btn-primary">Save</button>
    <button type="button" class="btn" ng-click="exit()">Exit</button>
</div>
    <section id="main-content">
        <div class="row-fluid">
            <div class="span12">
                <div>
                    @using (Html.BeginFormAntiForgeryPost(Url.Action("Edit", new { subId = Model.Id, ReturnUrl = Request.QueryString["ReturnUrl"] }),
                                                          FormMethod.Post,
                                                          new { @class = "form-horizontal", @name = "myForm", @ng_submit = "save()" }))
                    {

                        <fieldset>
                            <legend><h5>General Info</h5></legend>
                            <div class="row-fluid">
                                <div class="control-group">
                                    <div class="span6">
                                        <label class="control-label " for="inputName">Name</label>
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m.Name, new { @class = "span8", @disabled = "disabled" })
                                        </div>
                                    </div>

                                    <div class="span6">
                                        <label class="control-label " for="inputName">DisplayName</label>
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m.DisplayName, new { @class = "span8" })
                                        </div>
                                    </div>
                                </div>
                                <section class="control-group">
                                    <div class="span6">
                                        <label class="control-label" for="inputName">VisableTo</label>
                                        <div class="controls">
                                            @Html.DropDownListFor(m => m.VisableTo, new BindingList<SelectListItem>(), string.Empty, new { @class = "span8" })
                                        </div>
                                    </div>

                                    <div class="span6">
                                        <label class="control-label" for="inputName">PageRowCount</label>
                                        <div class="controls">
                                            <input type="number" class="span4" />
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend><h5>Select Fields to Display</h5></legend>
                            <div class="row-fluid">
                                <div class="control-group">
                                    <div class="span6 widget">
                                        <div class="widget-content">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Fields</th>
                                                        <th class="rightCell">
                                                            <button class="btn-link" type="button">Add All</button></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Field 1</td>
                                                        <td class="rightCell"><span class="label">Added</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Field 2</td>
                                                        <td class="rightCell">
                                                            <div class="rightCell"><span class="label">Added</span></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Field 3</td>
                                                        <td class="rightCell"><span class="label">Added</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Field 4</td>
                                                        <td class="rightCell"><span class="label hide">Added</span>
                                                            <button class="btn-link" type="button">Add</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Field 5</td>
                                                        <td class="rightCell"><span class="label hide">Added</span>
                                                            <button class="btn-link" type="button">Add</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="span6 widget">
                                        <div class="widget-content">
                                            <h5>Drag and drop to reorder</h5>
                                            <div class="sortable-list">
                                                <ul id="sortable">
                                                    <li class="ui-state-default">
                                                        Item 1
                                                        <div class="pull-right"><button class="btn-link" type="button">Remove</button></div>
                                                    </li>
                                                    <li class="ui-state-default">
                                                        Item 2
                                                        <div class="pull-right"><button class="btn-link" type="button">Remove</button></div>
                                                    </li>
                                                    <li class="ui-state-default">
                                                        Item 3
                                                        <div class="pull-right"><button class="btn-link" type="button">Remove</button></div>
                                                    </li>
                                                    <li class="ui-state-default">
                                                        Item 4
                                                        <div class="pull-right"><button class="btn-link" type="button">Remove</button></div>
                                                    </li>
                                                    <li class="ui-state-default">
                                                        Item 5
                                                        <div class="pull-right"><button class="btn-link" type="button">Remove</button></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="span6">
                                        <label class="control-label " for="SortedBy">Sorted By</label>
                                        <div class="controls">
                                            @Html.DropDownListFor(m => m.SortedBy, sortedBy, string.Empty, new { @class = "span4", @id = "sortby" })
                                            @Html.DropDownListFor(m => m.SortMode, sortMode, string.Empty, new { @class = "span4" })
                                            <input type="button" class="btn btn-small" name="Preview" value="Preview" ng-click="preview()" />
                                        </div>
                                    </div>
                                </div>

                                <section class="gridStyle" ng-grid="gridOptions"></section>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
        <div class="toolbar">
            <button type="button" class="btn btn-primary">Save </button>
            <button type="button" class="btn">Exit</button>
        </div>
    </section>
</section>


<script>
    $(document).ready(
        function() {
            $('.sortable-list ul').sortable({
                placeholder: 'placeholder',
                forcePlaceholderSize: true
            });
        }
    );
</script>
@*<script type="text/javascript">
    //<![CDATA[
   var picklistobj = $('#picklist-ex').picklist({
        sourceListLabel: 'All Fields',
        targetListLabel: 'Drag and drop to reorder',
        addAllLabel:'Add All Fields'
    });
    //]]>
</script>*@
