@using System.Text
@using Orchard.ContentManagement.MetaData.Models

@{
    Script.Require("MetadataContext");
    Script.Require("UserViewListController");
}

@Display.FootScripts()

<header id="main-header" class="page-header">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>Coevery
                                        <span class="divider">&raquo;</span>
        </li>
        <li>
            <a href="#">Metadata</a>
            <span class="divider">&raquo;</span>
        </li>
        <li>
            <a href="#">UserView</a>
        </li>
    </ul>
    <h1 id="main-heading">UserView <span>Display all UserView</span></h1>
</header>

<section id="main-content" ng-controller="UserViewCtrl">
    <div class="row-fluid">
        <section class="span12 widget">
            <header class="widget-header">
                <span class="title">&nbsp;</span>
            </header>
            <section class="widget-content table-container dataTables_wrapper">
                <section class="dt_header">
                    <section class="btn-group">
                        <button class="btn" ng-click="add()">
                            <i class="icol-add"></i>@T("Add")
                        </button>
                        <button class="btn" ng-disabled="mySelections.length == 0" ng-click="edit()">
                            <i class="icol-page-white-edit"></i>@T("Edit")
                        </button>
                        <button class="btn" ng-disabled="mySelections.length == 0" ng-click="delete()">
                            <i class="icol-cross"></i>@T("Delete")
                        </button>
                        <button class="btn" ng-click="getAll()">
                            <i class="icol-arrow-refresh"></i>@T("Refresh")
                        </button>
                    </section>
                </section>
              <section class="gridStyle" ng-grid="gridOptions"></section>
            </section>
        </section>
    </div>
</section>

<script>
function getColumnDefs(localize) {
    var columnDefs = [{ field: 'ContentId', displayName: localize.getLocalizedString('Id') },
                { field: 'EntityType', displayName: localize.getLocalizedString('EntityType') },
                { field: 'DisplayName', displayName: localize.getLocalizedString('DisplayName') }];
    debugger;
    return columnDefs;
}
</script>


