@model Coevery.Fields.Settings.ReferenceFieldSettings
@using Coevery.Fields.Settings
@{
    string disabled = string.Empty;
    if (Model.QueryId > 0) {
        disabled = "disabled='disabled'";
    }
}
<section class="control-group data-row">
    <label class="control-label" for="@Html.FieldIdFor(m => m.ContentTypeName)">@T("selectable content")</label>
    <div class="controls">
        <select id="@Html.FieldIdFor(m => m.ContentTypeName)" @disabled name="@Html.FieldNameFor(m => m.ContentTypeName)">
            @foreach (var item in Model.ContentTypeList)
            {
 @Html.SelectOption(item.Value, item.Selected, item.Text)
            }
        </select>
    </div>
</section>
<section class="control-group">
    <label class="control-label">
    </label>
    <div class="controls">
        <label class="checkbox">
            @Html.CheckBoxFor(m => m.DisplayAsLink)
            Display as link
        </label>
    </div>
</section>



