@using System.ComponentModel
@using System.Text
@using Orchard.ContentManagement.MetaData.Models
@using Orchard.Projections.Models

@{
    Script.Require("CommonContext");
    Script.Require("CommonListController");
}

@{
    ContentTypeDefinition typeDefinition = Model.TypeDefinition;
}

@Display.FootScripts()

<header id="main-header" class="page-header" style="background-image: none;margin-bottom: 0;">
    <h1 id="main-heading" style="background-image: none;">@Model.DisplayName <span>Display all @Model.DisplayName</span></h1>
</header>

<section ng-controller="CommonCtrl">
    <div class="form-actions" style="margin-top: -10px; padding-top: 10px; padding-left: 40px; padding-bottom: 10px; height: 30px; border-bottom: 1px solid #e5e5e5">
        <button class="btn btn-success" ng-click="add()">
            <i class="icon-plus"></i> @T("Add")
        </button>
        <button class="btn" ng-click="getAll()">
            <i class="icon-refresh"></i> @T("Refresh")
        </button>
    </div>
    <section id="main-content">
        <div class="row-fluid">
            <section class="span12">
                <section class="pull-right">

                    <section class="btn-group">

                        <button class="btn" ng-click="editview">
                            <i class="icol-page-white-edit"></i>@T("EditView")</button>
                        <button class="btn" ng-click="createnewview()">
                            <i class="icol-add"></i>@T("CreateNewView")</button>
                    </section>
                </section>


                <section class="pull-right">
                    @Html.DropDownList("viewlist", new LinkedList<SelectListItem>(), new { @class = "dropdown pull-right" })
                </section>
                
                <div class="navbar-search pull-right">
                    <input class="search-query" type="text" size="42">
                    <span class="ui-icon ui-icon-search" title="Find files"></span>
                    <span class="ui-icon ui-icon-close"></span>
                </div>

                @Display(Model.ListViewModel)
            </section>

        </div>
    </section>
</section>

@*<section id="main-content" ng-controller="CommonCtrl">
    <div class="row-fluid">
        <section class="span12 widget">
            <header class="widget-header">
                <span class="title">&nbsp;</span>
            </header>
            <section class="widget-content table-container dataTables_wrapper">
                <section class="dt_header">
                    <section class="btn-group">
                        <button class="btn" ng-click="add()">
                            <i class="icol-add"></i>@T("Add")</button>
                        <button class="btn" ng-disabled="mySelections.length == 0" ng-click="edit()">
                            <i class="icol-page-white-edit"></i>@T("Edit")</button>
                        <button class="btn" ng-disabled="mySelections.length == 0" ng-click="delete()">
                            <i class="icol-cross"></i>@T("Delete")</button>
                        <button class="btn" ng-click="getAll()">
                            <i class="icol-arrow-refresh"></i>@T("Refresh")</button>
                    </section>

                    <section class="pull-right">

                        <section class="btn-group">

                            <button class="btn" ng-click="editview">
                                <i class="icol-page-white-edit"></i>@T("EditView")</button>
                            <button class="btn" ng-click="createnewview()">
                                <i class="icol-add"></i>@T("CreateNewView")</button>
                        </section>
                    </section>

                    <section class="pull-right">
                        @Html.DropDownList("viewlist", new LinkedList<SelectListItem>(), new { @class = "dropdown pull-right" })
                    </section>
                </section>

                @Display(Model.ListViewModel)
            </section>
        </section>
    </div>
</section>*@





