@using System.ComponentModel
@using System.Text
@using Orchard.ContentManagement.MetaData.Models
@using Orchard.Projections.Models

@{
    Script.Require("CommonContext");
    Script.Require("CommonListController");
}

@{
    ContentTypeDefinition typeDefinition = Model.TypeDefinition;
}

@Display.FootScripts()

<header id="main-header" class="page-header">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>Coevery
                                        <span class="divider">&raquo;</span>
        </li>
        <li>
            <a href="#">Sales</a>
            <span class="divider">&raquo;</span>
        </li>
        <li>
            <a href="#">@Model.DisplayName</a>
        </li>
    </ul>
    <h1 id="main-heading">@Model.DisplayName <span>Display all @Model.DisplayName</span></h1>
</header>

<section id="main-content" ng-controller="CommonCtrl">
    <div class="row-fluid">
        <section class="span12 widget">
            <header class="widget-header">
                <span class="title">&nbsp;</span>
            </header>
            <section class="widget-content table-container dataTables_wrapper">
                <section class="dt_header">
                    <section class="btn-group">
                        <button class="btn" ng-click="add()">
                            <i class="icol-add"></i>@T("Add")</button>
                        <button class="btn" ng-disabled="mySelections.length == 0" ng-click="edit()">
                            <i class="icol-page-white-edit"></i>@T("Edit")</button>
                        <button class="btn" ng-disabled="mySelections.length == 0" ng-click="delete()">
                            <i class="icol-cross"></i>@T("Delete")</button>
                        <button class="btn" ng-click="getAll()">
                            <i class="icol-arrow-refresh"></i>@T("Refresh")</button>
                    </section>

                    <section class="pull-right">
                          
                        <section class="btn-group">
                           
                            <button class="btn" ng-click="editview">
                                <i class="icol-page-white-edit"></i>@T("EditView")</button>
                            <button class="btn" ng-click="createnewview()">
                                <i class="icol-add"></i>@T("CreateNewView")</button>
                        </section>
                    </section>

                    <section class="pull-right">
                        @Html.DropDownList("viewlist",new LinkedList<SelectListItem>(), new { @class = "dropdown pull-right" })
                        </section>
        </section>

                @Display(Model.ListViewModel)
        </section>
        </section>
    </div>
</section>





