@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string CalcuClassify(string[] zoneNames, string classNamePrefix) {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : ""; }).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}
@{
    /* Global includes for the theme
    ***************************************************************/

    SetMeta("X-UA-Compatible", "IE=edge,chrome=1");
    Style.Include("http://fonts.googleapis.com/css?family=Lobster&subset=latin");
    Style.Include("bootstrap/bootstrap.min.css");
    Style.Include("bootstrap/bootstrap-responsive.min.css");
    Style.Require("jQueryUI_Orchard");
    Style.Include("uniform/css/uniform.default.css");
    Style.Include("fonts/icomoon/style.css");
    Style.Include("main-style.css");

    Script.Require("jQuery");
    Script.Include("js/libs/bootstrap.min.js");
    Script.Include("js/dropdown.js");
    Script.Include("js/demo/picklist.js");

    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Layout classification based on filled zones
    ***************************************************************/

    //Add classes to the wrapper div to toggle aside widget zones on and off
    var asideClass = CalcuClassify(new[] { "AsideFirst", "AsideSecond" }, "aside-"); // for aside-1, aside-2 or aside-12 if any of the aside zones are filled
    if (HasText(asideClass)) {
        Model.Classes.Add(asideClass);
    }

    //Add classes to the wrapper div to toggle tripel widget zones on and off
    var tripelClass = CalcuClassify(new[] { "TripelFirst", "TripelSecond", "TripelThird" }, "tripel-"); // for tripel-1, triple-2, etc. if any of the tripel zones are filled
    if (HasText(tripelClass)) {
        Model.Classes.Add(tripelClass);
    }

    //Add classes to the wrapper div to toggle quad widget zones on and off
    var footerQuadClass = CalcuClassify(new[] { "FooterQuadFirst", "FooterQuadSecond", "FooterQuadThird", "FooterQuadFourth" }, "split-"); // for quad-1, quad-2, etc. if any of the quad zones are filled
    if (HasText(footerQuadClass)) {
        Model.Classes.Add(footerQuadClass);
    }

    /* Inserting some ad hoc shapes
    ***************************************************************/

    WorkContext.Layout.Header.Add(New.Branding(), "5"); // Site name and link to the home page
    WorkContext.Layout.Footer.Add(New.BadgeOfHonor(), "5"); // Powered by Orchard
    WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links

    /* Last bit of code to prep the layout wrapper
    ***************************************************************/

    Model.Id = "wrapper";
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}
@tag.StartElement

@if (Model.Header != null) {
    <header id="header" class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <div class="brand-wrap pull-left">
                    <div class="brand-img">
                        <a class="brand" href="http://www.novasoftware.cn/" style="font-size: 30px;">
                            <img src="@Href("~/Themes/Mooncake/Styles/coevery/images/coevery.png")" alt="" >
                            Coevery
                        </a>
                    </div>
                </div>

                <div id="header-right" class="clearfix">
                    <div id="nav-toggle" data-toggle="collapse" data-target="#navigation" class="collapsed">
                        <i class="icon-caret-down"></i>
                    </div>
                    <div id="header-search">
                        <span id="search-toggle" data-toggle="dropdown">
                            <i class="icon-search"></i>
                        </span>
                        <form class="navbar-search">
                            <input type="text" class="search-query" placeholder="Search">
                        </form>
                    </div>
                    <div id="dropdown-lists">
                        <div class="item-wrap">
                            <a class="item" href="#" data-toggle="dropdown">
                                <span class="item-icon"><i class="icon-exclamation-sign"></i></span>
                                <span class="item-label">Notifications</span>
                                <span class="item-count">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item-wrap">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <span class="thumbnail">
                                                    <img src="@Href("~/Themes/Mooncake/Styles/images/pp.jpg")" alt=""></span>
                                                <span class="details">
                                                    <strong>John Doe</strong> commented on your photo
                                                    <span class="time">13 minutes ago</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="thumbnail">
                                                    <img src="@Href("~/Themes/Mooncake/Styles/images/pp.jpg")" alt=""></span>
                                                <span class="details">
                                                    <strong>Jane Roe</strong> commented on your photo
                                                    <span class="time">27 minutes ago</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="thumbnail">
                                                    <img src="@Href("~/Themes/Mooncake/Styles/images/pp.jpg")" alt=""></span>
                                                <span class="details">
                                                    <strong>Billy John</strong> commented on your photo
                                                    <span class="time">43 minutes ago</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">View all notifications</a></li>
                            </ul>
                        </div>
                        <div class="item-wrap">
                            <a class="item" href="#" data-toggle="dropdown">
                                <span class="item-icon"><i class="icon-envelope"></i></span>
                                <span class="item-label">Messages</span>
                                <span class="item-count">16</span>
                            </a>
                        </div>
                    </div>
                    <div id="header-functions" class="pull-right">
                        <div id="user-info" class="clearfix" style="margin-top: 2px;">
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <div class="btn dropdown-toggle" data-toggle="dropdown" style="border: none; color: #ffffff; background: rgb(48, 48, 48);">
                                        <i style="background-position: center;"></i><span>liuleibao</span>
                                        <span class="caret" style="border-top: 4px solid #ffffff;"></span>
                                    </div>
                                    <ul class="dropdown-menu">
                                        <li title="" style="cursor: pointer; margin-left: 2px; padding: 3px 20px;">
                                            <a href="@Href("~/SystemAdmin/#/Entities")">
                                                <i style="background-position: center;"></i>后台
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="avatar">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                        <img src="@Href("~/Themes/Mooncake/Styles/images/pp.jpg")" alt="Avatar">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="logout-ribbon">
                            <a href="#"><i class="icon-off"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
}
<header id="page-header" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="dropdown pull-left">
                @if (Model.Navigation != null && Model.Navigation.Items.Count > 0) {
                    var menu = Model.Navigation.Items[0];
                    if (menu.Items.Count > 0) {
                        <a class="brand dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            <span data-label-placement>@menu.Items[0].Text.Text</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu bullet" role="menu" aria-labelledby="dLabel">
                            @{
                                var menuIndex = 0;
                            }
                            @foreach (var item in menu.Items) {
                                <li>
                                    <input type="radio" id="menu_@menuIndex" name="ex4" value="1"><label for="menu_@menuIndex"><strong>@item.Text.Text</strong></label>
                                </li>
                                menuIndex++;
                            }
                            <li><input type="radio" id="ex4_1" name="ex4" value="1" checked><label for="ex4_1"><strong>New York</strong></label>
                            </li>
                            <li><input type="radio" id="ex4_2" name="ex4" value="2"><label for="ex4_2">Moscow</label></li>
                            <li><input type="radio" id="ex4_3" name="ex4" value="3"><label for="ex4_3">Tokyo</label></li>
                            <li><input type="radio" id="ex4_4" name="ex4" value="4"><label for="ex4_4">Paris</label></li>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
</header>
<div id="content-wrap">
    <div id="content" class="sidebar-minimized">
        <div id="content-outer">
            <div id="content-inner">
                <aside id="sidebar">
                    <nav id="navigation" class="collapse">
                        @if (Model.Navigation != null) {
                            @Zone(Model.Navigation)
                        }
                    </nav>
                </aside>

                <div id="sidebar-separator"></div>
                <section id="main" class="clearfix">
                    @Zone(Model.Content)
                </section>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <footer style="margin: 10px">
                    <div class="row">
                        <div class="footer-left">Nova Software - <a href="http://www.novasoftware.cn">http://www.novasoftware.cn</a></div>
                        <div class="footer-right">
                            <p>Copyright 2013. All Rights Reserved.</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

@tag.EndElement
