@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string CalcuClassify(string[] zoneNames, string classNamePrefix) {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : ""; }).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}
@{
    /* Global includes for the theme
    ***************************************************************/

    SetMeta("X-UA-Compatible", "IE=edge,chrome=1");
    Style.Include("http://fonts.googleapis.com/css?family=Lobster&subset=latin");
    Style.Include("bootstrap/bootstrap.min.css");
    Style.Include("bootstrap/bootstrap-responsive.min.css");
    Style.Require("jQueryUI_Orchard");
    Style.Include("uniform/css/uniform.default.css");
    Style.Include("perfect-scrollbar.css");
    Style.Include("fonts/icomoon/style.css");
    Style.Include("main-style.css");

    Script.Include("js/libs/bootstrap.min.js");
    Script.Include("js/jquery.mousewheel.js");
    Script.Include("js/perfect-scrollbar.js");
    Script.Include("js/sidebar.js");
    Script.Include("js/dropdown.js");
    Script.Include("js/demo/picklist.js");

    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Layout classification based on filled zones
    ***************************************************************/

    //Add classes to the wrapper div to toggle aside widget zones on and off
    var asideClass = CalcuClassify(new[] { "AsideFirst", "AsideSecond" }, "aside-"); // for aside-1, aside-2 or aside-12 if any of the aside zones are filled
    if (HasText(asideClass)) {
        Model.Classes.Add(asideClass);
    }

    //Add classes to the wrapper div to toggle tripel widget zones on and off
    var tripelClass = CalcuClassify(new[] { "TripelFirst", "TripelSecond", "TripelThird" }, "tripel-"); // for tripel-1, triple-2, etc. if any of the tripel zones are filled
    if (HasText(tripelClass)) {
        Model.Classes.Add(tripelClass);
    }

    //Add classes to the wrapper div to toggle quad widget zones on and off
    var footerQuadClass = CalcuClassify(new[] { "FooterQuadFirst", "FooterQuadSecond", "FooterQuadThird", "FooterQuadFourth" }, "split-"); // for quad-1, quad-2, etc. if any of the quad zones are filled
    if (HasText(footerQuadClass)) {
        Model.Classes.Add(footerQuadClass);
    }

    /* Inserting some ad hoc shapes
    ***************************************************************/

    WorkContext.Layout.Header.Add(New.Branding(), "5"); // Site name and link to the home page
    WorkContext.Layout.Footer.Add(New.BadgeOfHonor(), "5"); // Powered by Orchard
    WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links

    /* Last bit of code to prep the layout wrapper
    ***************************************************************/

    Model.Id = "wrapper";
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}
@tag.StartElement

@if (Model.Header != null) {
    <header id="header" class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <div class="brand-wrap pull-left">
                    <div class="brand-img">
                        <a class="brand" href="@Href("~/")" style="font-size: 30px;">
                            <img src="@Href("~/Themes/Mooncake/Styles/coevery/images/coevery.png")" alt="" >
                            Coevery
                        </a>
                    </div>
                </div>

                <div id="header-right" class="clearfix">
                    <div id="nav-toggle" data-toggle="collapse" data-target="#navigation" class="collapsed">
                        <i class="icon-caret-down"></i>
                    </div>
                    <div id="header-search">
                        <span id="search-toggle" data-toggle="dropdown">
                            <i class="icon-search"></i>
                        </span>
                        <form class="navbar-search">
                            <input type="text" class="search-query" placeholder="Search">
                        </form>
                    </div>
                    <div id="dropdown-lists">
                        <div class="item-wrap">
                            <a class="item" href="#" data-toggle="dropdown">
                                <span class="item-icon"><i class="icon-exclamation-sign"></i></span>
                                <span class="item-label">Notifications</span>
                                <span class="item-count">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item-wrap">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <span class="thumbnail">
                                                    <img src="@Href("~/Themes/Mooncake/Styles/images/pp.jpg")" alt=""></span>
                                                <span class="details">
                                                    <strong>John Doe</strong> commented on your photo
                                                    <span class="time">13 minutes ago</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="thumbnail">
                                                    <img src="@Href("~/Themes/Mooncake/Styles/images/pp.jpg")" alt=""></span>
                                                <span class="details">
                                                    <strong>Jane Roe</strong> commented on your photo
                                                    <span class="time">27 minutes ago</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="thumbnail">
                                                    <img src="@Href("~/Themes/Mooncake/Styles/images/pp.jpg")" alt=""></span>
                                                <span class="details">
                                                    <strong>Billy John</strong> commented on your photo
                                                    <span class="time">43 minutes ago</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">View all notifications</a></li>
                            </ul>
                        </div>
                        <div class="item-wrap">
                            <a class="item" href="#" data-toggle="dropdown">
                                <span class="item-icon"><i class="icon-envelope"></i></span>
                                <span class="item-label">Messages</span>
                                <span class="item-count">16</span>
                            </a>
                        </div>
                    </div>
                    <div id="header-functions" class="pull-right">
                        <div id="user-info" class="clearfix">
                            <span class="info">Welcome
                                <span class="name">Shana-chan</span>
                            </span>
                            <div class="avatar">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                    <img src="@Href("~/Themes/Mooncake/Styles/images/pp.jpg")" alt="Avatar">
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#"><i class="icol-user"></i>&nbsp;My Profile</a></li>
                                    <li><a href="@Href("~/SystemAdmin/#/Entities")"><i class="icol-application-key"></i>&nbsp;Admin</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="icol-key"></i>&nbsp;Logout</a></li>
                                </ul>
                            </div>
                        </div>
                        <div id="logout-ribbon">
                            <a href="#"><i class="icon-off"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
}
<header id="page-header" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div id="nav-selector">
                <div class="dropdown">
                    @if (Model.Navigation != null && Model.Navigation.Items.Count > 0) {
                        var menu = Model.Navigation.Items[0];
                        if (menu.Items.Count > 0) {
                        <a id="selector" class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            <span data-label-placement>@menu.Items[0].Text.Text</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu bullet" role="menu" aria-labelledby="dLabel">
                            @{
                            var menuIndex = 0;
                            }
                            @foreach (var item in menu.Items) {
                                <li>
                                    <input type="radio" id="menu_@menuIndex" name="ex4" value="1"><label for="menu_@menuIndex"><strong>@item.Text.Text</strong></label>
                                </li>
                                menuIndex++;
                            }
                        </ul>
                        }
                    }
                </div>
            </div>
            @*<h1 id="page-title">Lead
            </h1>*@
            <div id="page-actions">
                <button class="btn btn-small">Back</button>
                <button class="btn btn-small btn-success">
                    <i class="icon-plus"></i>&nbsp;Add
                </button>
                <button class="btn btn-small">
                    <i class="icon-refresh"></i>&nbsp;Refresh
                </button>
                <div class="btn-group">
                    <button class="btn btn-small">Follow</button>
                    <button class="btn btn-small">Edit</button>
                    <button class="btn btn-small">Delete</button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                        More
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Convert</a></li>
                        <li><a href="#">Disabled</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<style>
    #wrapper #content-wrap {
        padding: 118px 0 0 0;
    }

    #page-header .container {
        margin-left: 0;
        margin-right: 40px;
        width: auto;
    }

    #page-header #nav-selector {
        float: left;
        width: 171px;
        padding: 13px 20px;
    }

        #page-header #nav-selector #selector {
            font-size: 20px;
            font-weight: 200;
            color: #777;
            -webkit-text-shadow: 0 1px 0 #fff;
            text-shadow: 0 1px 0 #fff;
        }

            #page-header #nav-selector #selector:hover,
            #page-header #nav-selector #selector:focus {
                text-decoration: none;
            }

            #page-header #nav-selector #selector > span {
                white-space: nowrap;
                overflow: hidden;
                max-width: 161px;
                display: inline-block;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }

    #page-header #page-title {
        margin: 11px 90px 11px 40px;
        font-size: 24px;
        line-height: 24px;
        float: left;
    }

    #page-header #page-actions {
        margin-left: 40px;

        float: left;
        font-size: 0;
    }

        #page-header #page-actions > .btn,
        #page-header #page-actions > .btn-group {
            margin: 10px 0 10px 10px;
        }

            #page-header #page-actions > .btn:first-child,
            #page-header #page-actions > .btn-group:first-child {
                margin-left: 0;
            }

    #page-header .btn {
        min-width: 70px;
    }

    @@media (min-width: 1200px) {
    }

    @@media (max-width: 979px) {
        #page-header .container {
            margin-right: 15px;
        }
    }
</style>
<div id="content-wrap">
    <div id="content" class="sidebar-minimized">
        <div id="content-outer">
            <div id="content-inner">
                <aside id="sidebar">
                    <nav id="navigation" class="collapse">
                        @if (Model.Navigation != null) {
                            @Zone(Model.Navigation)
                        }
                    </nav>
                </aside>

                <div id="sidebar-separator"></div>
                <section id="main" class="clearfix">
                    @Zone(Model.Content)
                </section>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <footer style="margin: 10px">
                    <div class="row">
                        <div class="footer-left">Nova Software - <a href="http://www.novasoftware.cn">http://www.novasoftware.cn</a></div>
                        <div class="footer-right">
                            <p>Copyright 2013. All Rights Reserved.</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

@tag.EndElement
