@using Coevery.Mvc.Html;
@using Coevery.UI.Resources;
@{
    RegisterLink(new LinkEntry { Type = "image/x-icon", Rel = "shortcut icon", Href = Url.Content("~/modules/coevery.themes/Content/coevery.ico") });

    string title = Convert.ToString(Model.Title);
    string siteName = Convert.ToString(WorkContext.CurrentSite.SiteName);

    var head = New.DocumentZone(ZoneName: "Head");
    Model.Head = head;
    head.Add(New.StylesheetLinks());

    var tail = New.DocumentZone(ZoneName: "Tail");
    Model.Tail = tail;
    tail.Add(New.FootScripts());

    Style.Include("bootstrap/bootstrap.min.css");
    Style.Include("bootstrap/bootstrap-responsive.min.css");
    Style.Require("jQueryUI_Coevery");
    Style.Include("uniform/css/uniform.default.css");
    Style.Include("fonts/icomoon/style.css");
    Style.Include("login.css");

    Script.Require("require");
    Script.Require("jQuery");
    Script.Require("jQueryUI");
    Script.Include("uniform/jquery.uniform.js");
    Script.Include("js/libs/bootstrap.js");
    Script.Require("jQueryValidate");
    Script.Include("js/libs/jquery.placeholder.min.js");
    Script.Include("js/login.js");
}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7 static @Html.ClassForPage()" lang="@WorkContext.CurrentCulture"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8 static @Html.ClassForPage()" lang="@WorkContext.CurrentCulture"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9 static @Html.ClassForPage()" lang="@WorkContext.CurrentCulture"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="@WorkContext.CurrentCulture" class="static @Html.ClassForPage()">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Html.Title(title, siteName)</title>
    @Display(Model.Head)
    <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>(function (d) { d.className = "dyn" + d.className.substring(6, d.className.length); })(document.documentElement);</script>
    <style type="text/css">
        #Login-Main {
            padding: 50px;
        }

            #Login-Main #Login_ValidationSummary {
                margin-top: 5px;
                width: 100%;
                text-align: center;
                color: red;
            }

                #Login-Main #Login_ValidationSummary ul {
                    list-style-type: none;
                }
    </style>
</head>
<body>
    <div id="login-wrap">
        <div id="login-buttons">
            <div class="btn-wrap">
                <button type="button" class="btn" data-target="#login-form"><i class="icon-key"></i></button>
            </div>
            <div class="btn-wrap">
                <button type="button" class="btn" data-target="#forget-form"><i class="icon-question-sign"></i></button>
            </div>
        </div>
        <div id="login-inner" class="login-inset">
            <div id="login-circle">
                <section id="login-form" class="login-inner-form">
                    <h1>Login</h1>
                    @using (Html.BeginFormAntiForgeryPost(Url.Action("LogOn", new { ReturnUrl = Request.QueryString["ReturnUrl"] }))) {
                        <div class="control-group-merged">
                            <div class="control-group">
                                <input type="text" placeholder="Username" name="userNameOrEmail" id="input-username" class="big required">
                            </div>
                            <div class="control-group">
                                <input type="password" placeholder="Password" name="password" id="input-password" class="big required">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="checkbox" style="padding-left: 0px;">
                                <input id="remember-me" name="rememberMe" type="checkbox" class="uniform" value="true" /><input name="rememberMe" type="hidden" value="false" />
                                Remember me
                            </label>
                        </div>
                        @Html.ValidationSummary(T("Login was unsuccessful. Please correct the errors and try again.").ToString(), new { @class = "alert alert-danger fade in" })
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success btn-block btn-large">Login</button>
                        </div>
                    }
                </section>
                <section id="forget-form" class="login-inner-form">
                    <h1>Reset Password</h1>
                    <form class="form-vertical" action="#">
                        <div class="control-group">
                            <div class="controls">
                                <input type="text" name="Reset[email]" class="big required email" placeholder="Enter Your Email...">
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-danger btn-block btn-large">Reset</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    @Display(Model.Tail)
</body>
</html>
