@model Coevery.Fields.Fields.CurrencyField
@using Orchard.Utility.Extensions;
@using Coevery.Fields.Settings;
@{
    var settings = Model.PartFieldDefinition.Settings.GetModel<CurrencyFieldSettings>();
    var required = settings.Required ? "required" : null;
    var maxLength = settings.Length + settings.DecimalPlaces + 1;
}

<label class="control-label title @required" for="@Html.FieldIdFor(m => m.Value)">@Model.DisplayName</label>
<div class="control controls">
    <input class="span12 number" type="text" 
            id="@Html.FieldIdFor(m => m.Value)" 
            name="@Html.FieldNameFor(m => m.Value)" 
            value="@Model.Value"
            @if (required != null)
            {<text> required data-msg-required="Please fill this field!"</text> }
            @if (maxLength > 1) 
            {<text> maxlength="@maxLength"</text>}
        />
    @Html.ValidationMessageFor(m => m.Value)
</div>
