@model Coevery.Fields.Fields.DatetimeField
@using Orchard.Utility.Extensions;
@using Coevery.Fields.Settings;
@{
    var settings = Model.PartFieldDefinition.Settings.GetModel<DatetimeFieldSettings>();
    var required = settings.Required ? "required" : null;
}

<label class="control-label title @required" for="@Html.FieldIdFor(m => m.Value)">@Model.DisplayName</label>
<div class="control controls input-append">
    <input class="span12 date" type="text" 
           id="@Html.FieldIdFor(m => m.Value)" 
           name="@Html.FieldNameFor(m => m.Value)" 
           value="@Model.Value" 
           data-format="MM/dd/yyyy HH:mm PP" 
        @if (required != null)
        {<text> required data-msg-required="Please fill this field!"</text> } 
        />
    <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
    </span>
    @Html.ValidationMessageFor(m => m.Value)
</div>

<script type="text/javascript">
    $(function () {
        var defaultDatetime = $("#@Html.FieldIdFor(m => m.Value)");
        if (defaultDatetime.length != 0) {
            defaultDatetime.parent().datetimepicker({
                pick12HourFormat: true,
                pickSeconds: false,
            });

            var tempDate = new Date(defaultDatetime.val());
            var nonDisplayed = /:\d+$/i;
            var strFor12H;
            if (tempDate.getHours() < 12) {
                strFor12H = " pm";
            } else {
                strFor12H = " am";
            }
            defaultDatetime.val(defaultDatetime.val().replace(nonDisplayed, strFor12H));
        }
    });
</script>
