@model Coevery.Fields.Fields.SelectField
@using Orchard.Utility.Extensions;
@using Coevery.Fields.Settings;
@{
    var settings = Model.PartFieldDefinition.Settings.GetModel<SelectFieldSettings>();
}

<label class="span3 title" for="@Html.FieldIdFor(m => m.Value)">@Model.DisplayName</label>
<div class="span9">
    <div class="control span12">
        <select class="span12" id="@Html.FieldIdFor(m => m.Value)" name="@Html.FieldNameFor(m => m.Value)" @if (settings.Required) {<text> required</text> }>
            <option>Option1</option>
            <option>Option2</option>
            <option>Option3</option>
        </select>
        @Html.ValidationMessageFor(m => m.Value)
    </div>
</div>
