@model Coevery.Fields.Fields.SelectField
@using Orchard.Utility.Extensions;
@using Coevery.Fields.Settings;

@{
    var settings = Model.PartFieldDefinition.Settings.GetModel<SelectFieldSettings>();
    var multiple = (settings.SelectCount > 1) ? "multiple" : null;
    var required = settings.Required ? "required" : null;  
}

<label class="control-label title @required" for="@Html.FieldIdFor(m => m.Value)">@Model.DisplayName</label>
<div class="controls">

    @if (settings.DisplayOption == SelectionMode.DropDown)
    {
        var displaySize = (settings.SelectCount > 1) ? settings.DisplayLines : 1;
        var selectAttributes = new Dictionary<string, object>();

        selectAttributes.Add("class", "span12");
        if (required != null)
        {
            selectAttributes.Add(required, null);
        }
        selectAttributes.Add("size", displaySize);

        if (multiple != null)
        {
        @Html.ListBoxFor(m => m.OptionValue, Model.Items, selectAttributes)
        }
        else
        {
        @Html.DropDownListFor(x => x.Value, Model.Items, selectAttributes)
        }
    }
    else if (settings.DisplayOption == SelectionMode.Radiobutton)
    {
        foreach (var item in Model.Items)
        {
            var itemId = Model.Name + item.Value;               
        <label class="radio" for="@itemId">
            <input type="radio" id="@itemId" name="@Html.FieldNameFor(model => model.Value)" value="@item.Value" 
                @if (item.Selected) {
                    <text> checked </text>
                }/>
            @T(item.Text)
        </label>
        }
    }
    else if (settings.DisplayOption == SelectionMode.Checkbox)
    {
        foreach (var item in Model.Items)
        {
            var itemId = Model.Name + item.Value;
        <label class="checkbox" for="@itemId">
            <input type="checkbox" id="@itemId" name="@Html.FieldNameFor(model => model.OptionValue)" value="@item.Value" @if (item.Selected)
                                                                                                                    { <text> checked </text> }/>
            @T(item.Text)
        </label>          
        }
    }
    @Html.ValidationMessageFor(m => m.Value)

</div>
<script type="text/javascript">
    $(function () {

    });
</script>
