@model DateFieldSettings
@using System.Globalization
@using Coevery.Core.Shapes.Localization
@using Coevery.Fields.Settings;

@{
    var cultureInfo = CultureInfo.GetCultureInfo(WorkContext.CurrentCulture);
    var dateTimeLocalization = WorkContext.Resolve<IDateTimeLocalization>();

    Func<DateTime?, string> FormatDate = date => date != null ? date.Value.ToString(dateTimeLocalization.ShortDateFormat.Text, cultureInfo) : null;
}

<section class="control-group data-row" data-co-datetime-picker="date">
    <label class="control-label">
        Default Value
    </label>
    <div class="controls input-prepend errortips">
        <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
        <input class="date" type="text"
           id="@Html.FieldIdFor(m => m.DefaultValue)"
           name="@Html.FieldNameFor(m => m.DefaultValue)"
           value="@FormatDate(Model.DefaultValue)"
           data-format="@dateTimeLocalization.ShortDateFormat.Text"
           data-date-weekstart="@dateTimeLocalization.FirstDay" />
    </div>
</section>

@* generates the localization script *@
@Display(New.BootstrapDatePickerLocalization())

