@model Coevery.Fields.Settings.DatetimeFieldSettings
@using System.Globalization
@using Coevery.Core.Shapes.Localization
@using Coevery.Fields.Settings;

@{

    var cultureInfo = CultureInfo.GetCultureInfo(WorkContext.CurrentCulture);
    var dateTimeLocalization = WorkContext.Resolve<IDateTimeLocalization>();

    Func<DateTime?, string> FormatDateTime = date => date != null ? date.Value.ToString(dateTimeLocalization.LongDateTimeFormat.Text, cultureInfo) : null;
}

<section class="control-group data-row">
    <label class="control-label">
        Default Value
    </label>
    <div class="controls input-prepend errortips" data-co-datetime-picker="datetime">
        <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
        <input class="time" type="text"
               id="@Html.FieldIdFor(m => m.DefaultValue)"
               name="@Html.FieldNameFor(m => m.DefaultValue)"
               value="@FormatDateTime(Model.DefaultValue)"
               data-format="@dateTimeLocalization.LongDateTimeFormat.Text"
               data-date-weekstart="@dateTimeLocalization.FirstDay" />
    </div>
</section>
@Display(New.BootstrapDatePickerLocalization())

