@model Coevery.Fields.Settings.TextFieldSettings

<section class="control-group data-row">
    <label class="control-label" for="textLength">
        @T("Length")
    </label>
    <div class="controls">
        @Html.TextBoxFor(m => m.MaxLength, new {@class = "span12"})
    </div>
</section>
<section class="control-group data-row">
    <label class="control-label" for="placeHolderText">
        @T("Place Holder Text")
    </label>
    <div class="controls">
        @Html.TextBoxFor(m => m.PlaceHolderText, new {@class = "span12"})
    </div>
</section>
<section class="data-row control-group">
    <label class="control-label">
        @T("Options")
    </label>
    <div class="controls">
        <label class="checkbox">               
            @Html.CheckBoxFor(m => m.IsUnique)
            @T("Is Unique")
        </label>
    </div>
</section>