@using System.ComponentModel
@*@using System.Web.Script.Serialization*@
@model Coevery.Projections.ViewModels.ProjectionEditViewModel
<header id="main-header" class="page-header" style="background-image: none; margin-bottom: 0;">
    <h1 style="background-image: none;">View Detail <span>show view detail information</span></h1>
</header>
@{
    var sortedBy = new BindingList<SelectListItem>();
    Model.AllFields.ToList().ForEach(c => {
        sortedBy.Add(new SelectListItem { Selected = (c.Name == Model.SortedBy), Text = c.Name });
    });

    var sortMode = new BindingList<SelectListItem>();
    sortMode.Add(new SelectListItem { Selected = Model.SortMode == "Desc", Text = "Desc" });
    sortMode.Add(new SelectListItem { Selected = Model.SortMode == "Asc", Text = "Asc" });

    var VisableTo = new BindingList<SelectListItem>();
    VisableTo.Add(new SelectListItem { Selected = Model.VisableTo == "All", Text = "All" });
    VisableTo.Add(new SelectListItem { Selected = Model.VisableTo == "Me", Text = "Me" });
}
<section id="main-content">
    <div class="row-fluid">
        <div id="page-toolbar">
            <button class="btn" data-ng-click="exit()">Back</button>
            <button class="btn btn-primary" data-ng-click="save()">Save</button>
                        <button class="btn btn-primary" data-ng-click="saveAndBack()">Save & Back</button>
        </div>
    </div>

    @using (Html.BeginFormAntiForgeryPost(Url.Action("Edit", new { Id = Model.Id, EntityName = Model.Name, ReturnUrl = Request.QueryString["ReturnUrl"] }),
                                                          FormMethod.Post,
                                                          new { @class = "form-horizontal", @name = "myForm", @ng_submit = "save()" })) {
        <div class="widget">
            <div class="widget-content form-container">
                <div class="form-horizontal no-border">
                    <fieldset>
                        <legend style="height: 35px;">
                            <h5 style="margin: 0px;">General Info</h5>
                        </legend>

                        <section class="control-group">
                            <div class="span6">
                                <label class="control-label">Name</label>
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "span8", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="span6">
                                <label class="control-label">DisplayName</label>
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.DisplayName, new { @class = "span8" })
                                </div>
                            </div>
                        </section>


                        <section class="control-group">
                            <div class="span6">
                                <label class="control-label">VisableTo</label>
                                <div class="controls">
                                    @Html.DropDownListFor(m => m.VisableTo, VisableTo, string.Empty, new { @class = "span8", @id = "visableto" })
                                </div>
                            </div>
                            <div class="span6">
                                <label class="control-label">PageRowCount</label>
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.PageRowCount, new { @type = "number", @class = "span8" })
                                </div>
                            </div>
                        </section>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="widget">
            <div class="widget-content form-container">
                <div class="form-horizontal no-border">
                    <fieldset>
                        <legend style="height: 35px;">
                            <h5 style="margin: 0px;">Select Fields to Display</h5>
                        </legend>
                        <div class="row-fluid">
                            <div class="control-group" style="margin-top: 10px;">
                                <div class="span6">
                                    <div class="widget-content">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Fields</th>
                                                    <th class="rightCell">
                                                        <button class="btn-link" ng-click="AddAll()" type="button">Add All</button></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var oneField in Model.AllFields) {
                                                    string fieldName = oneField.Name;
                                                    <tr>
                                                        <td name="unselectedField">@fieldName</td>
                                                        <td class="rightCell">
                                                            <span  ng-class="LabelClass('@fieldName')">Added</span>
                                                            <span  ng-style="ButtonStyle('@fieldName')">
                                                                <button class="btn-link" ng-click="addfield('@fieldName')" type="button">Add</button>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="span6">
                                    <div class="widget-content">
                                        <h5>Drag and drop to reorder</h5>
                                        <input id="picklist" name="picklist" type="hidden" />
                                        <div class="sortable-list">
                                            <ul id="sortable">
                                                <li ng-repeat="selectedColumn in SelectedColumns"  style=" background: url(@Href("~/Themes/Mooncake/Styles/Coevery/images/cache.gif")) no-repeat 5px;  padding-left: 18px;
padding-bottom: 5px;
padding-top: 5px;
border: 1px solid #ccc;
cursor: move;
zoom: 1;content:none;
margin-top: 5px;"><span style="margin-left: 3px;">{{selectedColumn.FieldName}}</span>
                                                    <div class="pull-right">
                                                        <button class="btn-link" type="button" ng-click="removefield($index)">Remove</button>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="span6" style="margin-top: 5px;">
                                    <label class="control-label " for="SortedBy">Sorted By</label>
                                    <div class="controls">
                                        @Html.DropDownListFor(m => m.SortedBy, sortedBy, string.Empty, new { @class = "span4", @id = "sortby" })
                                        @Html.DropDownListFor(m => m.SortMode, sortMode, string.Empty, new { @class = "span4", @id = "sortmode" })
                                        <input type="button" class="btn btn-small" name="Preview" value="Preview" ng-click="preview()" />
                                    </div>
                                </div>
                            </div>

                            <section class="gridStyle" ng-grid="gridOptions"></section>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    }


    </div>
    </div>
</section>

<script>
    $(function () {
        $('.page-actions').affix({ offset: { top: 71 } });
        $('.sortable-list ul').sortable({
            placeholder: 'placeholder',
            forcePlaceholderSize: true
        });
    });
</script>

