@using System.ComponentModel
@*@using System.Web.Script.Serialization*@
@model Coevery.Projections.ViewModels.ProjectionEditViewModel
@{
    var sortedBy = new BindingList<SelectListItem>();
    Model.AllFields.ToList().ForEach(c => {
        sortedBy.Add(new SelectListItem { Selected = (c.Name == Model.SortedBy), Text = c.Name });
    });

    var sortMode = new BindingList<SelectListItem>();
    sortMode.Add(new SelectListItem { Selected = Model.SortMode == "Desc", Text = "Desc" });
    sortMode.Add(new SelectListItem { Selected = Model.SortMode == "Asc", Text = "Asc" });

    var VisableTo = new BindingList<SelectListItem>();
    VisableTo.Add(new SelectListItem { Selected = Model.VisableTo == "All", Text = "All" });
    VisableTo.Add(new SelectListItem { Selected = Model.VisableTo == "Me", Text = "Me" });

        var PageRowCount = new BindingList<SelectListItem>();
        PageRowCount.Add(new SelectListItem { Selected = Model.VisableTo == "50", Text = "50" });
        PageRowCount.Add(new SelectListItem { Selected = Model.VisableTo == "100", Text = "100" });
        PageRowCount.Add(new SelectListItem { Selected = Model.VisableTo == "200", Text = "200" });
}
<header id="page-title">
    <h1 class="pull-left">View Detail <span>show view detail information</span></h1>
</header>
<section id="main-content">
    <div id="page-actions" class="clearfix">
        <btn-actions>
            <button class="btn btn-small" data-ng-click="exit()">Back</button>
            <button class="btn btn-primary btn-small" data-ng-click="saveAndView()">Save</button>
            <button class="btn btn-primary btn-small" data-ng-click="saveAndBack()">Save & Back</button>
        </btn-actions>
    </div>
    @using (Html.BeginFormAntiForgeryPost(Url.Action("Edit", new { Id = Model.Id, ReturnUrl = Request.QueryString["ReturnUrl"] }),
                                                  FormMethod.Post,
                                                  new { @class = "form-horizontal", @name = "myForm", @ng_submit = "save()" })) {
                
        <div class="row-fluid">
            <div class=" form-container edit-mode">
                <div class="form-horizontal no-border">
                    <fieldset>
                        <legend>
                            <h5>General Info</h5>
                        </legend>

                        <section class="data-row control-group">
                            <div class="span6">
                                <label class="control-label">Name</label>
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "span12", @disabled = "disabled" })
                                    @Html.HiddenFor(m => m.Name)
                                </div>
                            </div>
                            <div class="span6">
                                    <label class="control-label required">Display Name</label>
                                <div class="controls relativeSetter">
                                    @Html.TextBoxFor(m => m.DisplayName, new { @class = "span12",required="" })
                                </div>
                            </div>
                        </section>


                        <section class="data-row control-group">
                            <div class="span6">
                                    <label class="control-label">Visable To</label>
                                <div class="controls">
                                    @Html.DropDownListFor(m => m.VisableTo, VisableTo, string.Empty, new { @class = "span12", @id = "visableto" })
                                </div>
                            </div>
                            <div class="span6">
                                    <label class="control-label">Page Row Count</label>
                                <div class="controls">
                                        @Html.DropDownListFor(m => m.PageRowCount, PageRowCount, null , new { @class = "span12", @id = "pageRowCount" })
                                </div>
                            </div>
                        </section>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 form-container edit-mode">
                <div class="form-horizontal no-border">
                    <fieldset>
                        <legend>
                            <h5>Select Fields to Display</h5>
                        </legend>
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="span6">
                                    <div class="viewfields-widget">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Fields</th>
                                                    <th class="rightCell">
                                                        <button class="btn-link" ng-click="AddAll()" type="button">Add All</button></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var oneField in Model.AllFields) {
                                                    string fieldName = oneField.Name;
                                                    <tr>
                                                        <td name="unselectedField">@fieldName</td>
                                                        <td class="rightCell">
                                                            <span  ng-class="LabelClass('@fieldName')">Added</span>
                                                            <span  ng-style="ButtonStyle('@fieldName')" class=""style="line-height: 14px;">
                                                                <button class="btn-link" ng-click="addfield('@fieldName')" type="button" style="line-height: 14px;">Add</button>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="span6">
                                    <div class="viewfields-widget">
                                        <h5>Drag and drop to reorder</h5>
                                        <input id="picklist" name="picklist" type="hidden" />
                                        <div class="sortable-list">
                                            <ul id="sortable">
                                                <li ng-repeat="selectedColumn in SelectedColumns" style=""><span style="margin-left: 3px;">{{selectedColumn.FieldName}}</span>
                                                    <div class="pull-right">
                                                        <button class="btn-link" type="button" ng-click="removefield($index)">Remove</button>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12 sortedbyspan">
                                <div class="span8">
                                    <label class="control-label " for="sortby">Sorted By</label>
                                    <div class="controls" style="margin-left: 10px;">
                                        @Html.DropDownListFor(m => m.SortedBy, sortedBy, string.Empty, new { @class = "span4", @id = "sortby" })
                                        @Html.DropDownListFor(m => m.SortMode, sortMode, string.Empty, new { @class = "span4", @id = "sortmode" })
                                        <input type="button" class="btn" name="Preview" value="Preview" ng-click="preview()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    }
    <div class="row-fluid">
        <section class="gridStyle" data-ng-grid="gridOptions"></section>
    </div>
</section>
<script>
    $(function () {
        $("#main-content").css("margin-top", $("#page-title").outerHeight(true));
        $("#page-actions h1 span").attr("title", $("#page-actions h1 span").html());
    });
</script>

